.container {
  @apply grid gap-4 pb-4;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

@screen mobileSmall {
  .container {
    @apply gap-2;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
