.imgBlock {
  @apply h-[130px] overflow-hidden flex shrink-0;
}

.img {
  @apply w-full h-full object-cover object-top rounded-lg;
}

.wrapper {
  @apply flex flex-col justify-between h-full items-center pt-5;
}

.title {
  @apply mb-6 text-2xl font-bold font-openSans text-white;
}

.title1 {
  @apply text-2xl font-bold font-openSans text-black;
}

.subTitle {
  @apply text-sm font-bold font-openSans text-white;
}

.description {
  @apply mb-3 font-medium text-silver-light font-openSans text-sm text-center;
}

.block {
  @apply flex justify-evenly w-full pb-3 px-2;
}

.link {
  @apply flex gap-1 items-center border-2 border-primary text-primary rounded-md p-1 uppercase font-openSans font-bold text-[14px] hover:text-white hover:bg-primary hover:scale-105 duration-300;
}

.icon {
  @apply w-6 h-6;
}

.container {
  width: 300px;
  height: 300px;
  position: relative;
  perspective: 600px;
  cursor: pointer;
  transition-duration: 500ms;

  &:hover {
    transform: scale(1.05);

    &.front {
      transform: scale(1.5);
    }
  }
}

.cardContainer {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.front {
  &:hover {
    .hoverBlock {
      opacity: 1;
    }
  }

  @apply shadow-base;
}

.hoverBlock {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  text-transform: uppercase;
  transition-duration: 500ms;
  color: white;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
}

.back {
  @apply flex flex-col border border-gray-200 rounded-lg p-2 shadow-base;
}
