@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply pl-64 font-sairaExtraCondensed scroll-smooth tablet:p-0;
  }
  section {
    @apply min-h-screen tablet:min-h-0 overflow-hidden tablet:first:min-h-screen p-12 flex flex-col border-b border-silver-light last:border-b-0 bg-white first:bg-transparent largeTablet:p-8 mobileVerySmall:p-4;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #bd5d38;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ca3b02;
  cursor: pointer;
}

.not-active {
  transition-duration: 300ms;
  transform: scale(0.95) !important;
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(3px);
}
